doctype html
html
    head
        title Contacto
        link(rel="stylesheet", href="/css/style.css")
    body
        h2 Contacto
        form(action="/contacto", method="post")
            div
                label(for="nombre") Nombre:
                input(type="text", id="nombre", name="nombre", required)
            div
                label(for="email") Email:
                input(type="email", id="email", name="email", required)
            div
                label(for="mensaje") Mensaje:
                textarea(id="mensaje", name="mensaje", required)
            div
                button(type="submit") Enviar
        img(src="/assets/perro.gif", width="300")
        include ./footer.pug
