doctype html
html
   head
      title Home
      link(rel="stylesheet", href="/css/style.css")   
   body
      h2 Bienvenidos a nuestra pagina HOME
      img(src="/assets/perro.gif", width="300")

      include ./footer.pug