doctype html
html
    head
        title Donde estamos
        link(rel="stylesheet", href="/css/style.css")
    body
        section#donde-estamos
        h2 Dónde Estamos
        p
            | Nos encontramos ubicados en Recoletos.
        p
        
        img(src="/assets/perro.gif", width="300")
    include ./footer.pug
