doctype html
html
    head
        title Sobre nosotros
        link(rel="stylesheet", href="/css/style.css")
    body
        h2 Sobre Nosotros
            p
                | Con más de 0 años de experiencia en el sector, nuestra empresa se ha consolidado como
                | una referencia en hacer explotar la terminal.
            p
                | Nuestros valores de integridad, compromiso y calidad guían cada uno de nuestros proyectos.
        img(src="/assets/perro.gif", width="300")
        
        include ./footer.pug